<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>True Stories</title>

  <!-- Bootstrap Core CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/assets/css/homepage.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <link href="/css/homepage.css" rel="stylesheet">

</head>

<body id="page-top" class="index">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">True Stories</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a class="page-scroll" href="#about">About</a>
          </li>
          <li>
            <a class="page-scroll" href="#video">video</a>
          </li>
          <li>
            <a class="page-scroll" href="#team">Team</a>
          </li>
          <li>
            <a class="page-scroll" href="https://twitter.com/getTrueStories">Contact</a>
          </li>
          <li>
            <a class="page-scroll" id="download_button"
              href="https://chrome.google.com/webstore/detail/true-stories/cemjfombkpblppjbaepfldgmnhfjpmjh?hl=en">Download</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>


  <section id="download">
    <div class="portfolio-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content" style="padding: 0px;">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2>True Stories</h2>
                <p class="item-intro text-muted">Let Australian stories come to you.</p>
                <img class="img-responsive img-centered" id="carousel" src="/img/laptop.png" alt="">
                <h5 style="margin-bottom: 0">Let Australian stories come to you</h5>
                <br>
                <p>We turned the ABC Local Story Archive of more than 8500 Australian stories into a Google Chrome App
                  called "True Stories". Articles in archives are usually neglected after the daily news cycle but we’re
                  keeping these photo stories alive by using them as backgrounds in Google Chrome.</p>
                <a href="https://chrome.google.com/webstore/detail/true-stories/cemjfombkpblppjbaepfldgmnhfjpmjh?hl=en"><button
                    type="button" class="btn btn-primary big-button" data-dismiss="modal">Chrome Download</button></a>
                <br>
                <a href="https://addons.mozilla.org/en-US/firefox/addon/true-stories/"><button
                    type="button" class="btn btn-primary big-button" data-dismiss="modal">Firefox Download</button></a>
                <br>
                <h3><a href="/demo">See a demo!</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section id="about" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">About</h2>
          <h3 class="section-subheading text-muted">Information about this hackathon project.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <img id="abc_logo_circle" src="/img/ABC-White-Transperant.png">
          </span>
          <h4 class="service-heading">ABC Local's Problem</h4>
          <p class="text-muted">"ABC Local" had an <a
              href="https://data.gov.au/dataset/abc-local-online-photo-stories-2009-2014">archive</a> of over 8,500
            stories that was under-utilised and they wanted to promote this content by sharing a dataset at GovHack.</p>
          <p class="text-muted"><a href="https://data.gov.au/dataset/abc-local-online-photo-stories-2009-2014">This data
              set</a> contains metadata and links for more than 8,500 stories created around Australia by ABC Local
            Online reporters. All the stories are currently published live on the <a
              href="http://www.abc.net.au/">abc.net.au</a> site.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Our Solution</h4>
          <p class="text-muted">Our team of 5 people put an app into the Google Chrome Store in the 48 hours given to us
            for this hackathon. We talked to ABC personnel, users and other stakeholders to develop this app.</p>
          <p class="text-muted">Check out our <a href="https://github.com/david-ma/GovHack2015">github page</a> for
            technical details or watch our video below!</p>

        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <img id="govhack_logo_circle" src="/img/govhack_white.png">
          </span>
          <h4 class="service-heading">GovHack</h4>
          <p class="text-muted">Now in it’s 5th Year, GovHack is a hackathon that celebrates your technical and creative
            capacity, opens the door to collaboration with governments, and has helped to advance the cause of open data
            to drive social and economic value. Over 1800 of our best and brightest gathered at an epic 30 GovHack
            Locations to innovate, create, and compete!</p>
        </div>
      </div>
    </div>
  </section>

  <section id="video">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">GovHack Video</h2>
          <div class="iframe-container">
            <iframe class="responsive-iframe" width="560" height="315" src="https://www.youtube.com/embed/V1pd9OEwfxA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>




  <!-- Team Section -->
  <section id="team" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Our team</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">

            <li>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="/img/suzie.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Project Manager</h4>
                  <h4 class="subheading"><a href="http://twitter.com/stringstory">Suzanne Nguyen - @StringStory</a></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Suzanne is a specialist who delivers digital stories using emerging
                    technologies. She is a producer on branded Snapchat channels.</p>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="/img/david.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Software Developer</h4>
                  <h4 class="subheading"><a href="http://twitter.com/frostickle">David Ma - @Frostickle</a></h4>
                </div>
                <div class="text-muted timeline-body">
                  <p>David is a full stack software developer at the Peter MacCallum Cancer Centre, working on making
                    lab results readable for doctors and specialists.</p>
                </div>
              </div>
            </li>

            <li>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="/img/daniel.png" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Graphic Designer</h4>
                  <h4 class="subheading"><a href="http://twitter.com/aeromental">Daniel Sempértegui - @aeromental</a>
                  </h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Daniel is a UX / UI Designer based in Sydney. His interests include digital
                    trends, design, start-ups & movies</p>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="/img/mark.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Data Scientist</h4>
                  <h4 class="subheading"><a href="http://twitter.com/certifiedwaif">Mark Greenaway - @certifiedwaif</a>
                  </h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Mark is a biostatistician at Sydney University. He is a coder, amateur gardener
                    and guitar player who loves science and learning new things.</p>
                </div>
              </div>
            </li>


            <li>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="/img/zaara.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Data Scientist</h4>
                  <h4 class="subheading"><a href="http://twitter.com/zazuazad">Zaara Azad - @zazuazad</a></h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Zaara is a Data Scientist at Qantas and loves photography, number crunching and
                    Hugh Laurie! </p>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li>Made by <a href="https://hackerspace.govhack.org/content/true-stories">Potato Heads</a> for GovHack 2015
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li><a href="https://twitter.com/getTrueStories"><i class="fa fa-twitter"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li><a href="https://github.com/certifiedwaif/GovHack2015">Github</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>



  <script type="text/javascript" src="/js/vendor.min.js"></script>

  <script>
    var i = 1;
    setInterval(function () {
      $("#carousel").css({
        'background': "url('/img/screenshots/" + i + ".png')",
        'background-color': 'black',
        'background-size': "75%",
        'background-repeat': "no-repeat",
        'background-position': "50% 23%"
      });
      i = (i + 1) % 11;
    }, 2500);

    var images = [];
    function preload() {
      for (var i = 0; i < arguments.length; i++) {
        images[i] = new Image();
        images[i].src = preload.arguments[i];
      }
    }
    preload(
      "/img/screenshots/1.png",
      "/img/screenshots/2.png",
      "/img/screenshots/3.png",
      "/img/screenshots/4.png",
      "/img/screenshots/5.png",
      "/img/screenshots/6.png",
      "/img/screenshots/7.png",
      "/img/screenshots/8.png",
      "/img/screenshots/9.png",
      "/img/screenshots/10.png"
    )


  </script>




  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-64766698-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-64766698-1');
  </script>
</body>

</html>