<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ABC Local Stories</title>

  <!-- Bootstrap Core CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/assets/css/agency.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  
  <link href='/css/story.css' rel='stylesheet' type='text/css'>

</head>

<body id="page-top" class="index">


  <!-- Header -->
  <header id="header_image" style="background-image: url({{bestImage}});">
        <div class=" container">
    <div class="intro-text">
    </div>
    </div>
  </header>



  <!-- Content -->
  <section id="content" style="padding-top:35px;">
    <div class="container">
      <div id="main-content" class="row text-center">
        <div class="col-md-9">
          <div>

            <h1 id="titletext">{{Title}}</h1>
            <p id="descriptiontext" class="description">
              {{imageDescriptions}}
            </p>

            <div class="clear" style="padding:20px;"></div>
            <div>
              <div class="box">
                <p class="label">
                  Source
                </p>
              </div>

              <p id="source" class="label-text">
                <a id="sourcelink" class="label-text-link" target="_blank" href="{{URL}}">{{URL}}</a>
              <p>
            </div>
            <div class="clear"></div>
            <div>
              <div class="box">
                <p class="label">
                  Keywords
                </p>
              </div>

              <p id="keywords" class="label-text">{{Subjects}}</p>
            </div>

          </div>

          <div class="clear" style="padding:20px;"></div>
          <div>
            <h2>
              See another True Story:
            </h2>
            <div class="hashtagbox" id="box-1">
              <div class="mask"></div>
              <p class="hashtag-text">
                #garden
              </p>
              <img class="previewpic img-responsive" src="http://www.abc.net.au/reslib/201209/r1005632_11275296.jpg"
                alt="" />
            </div>

            <div class="hashtagbox" id="box-2">
              <div class="mask"></div>
              <p class="hashtag-text">
                #festival
              </p>
              <img class="previewpic img-responsive" src="http://www.abc.net.au/reslib/201301/r1061650_12441054.jpg
" alt="" />
            </div>

            <div class="hashtagbox" id="box-3">
              <div class="mask"></div>
              <p class="hashtag-text">
                #nature
              </p>
              <img class="previewpic img-responsive" src="http://www.abc.net.au/reslib/201209/r998918_11095385.jpg"
                alt="" />
            </div>

            <div class="hashtagbox" id="box-4">
              <div class="mask"></div>
              <p class="hashtag-text">
                #coffee
              </p>
              <img class="previewpic img-responsive" src="http://www.abc.net.au/news/image/5196902-16x9-700x394.jpg"
                alt="" />
            </div>

          </div>

          <div class="clear" style="padding:20px;"></div>
        </div>

        <div class="col-md-3" style="padding:20px; background: rgba(216,216,216,.25); max-width: 240px;">

          <div id="map-canvas"></div>

          <h3 id="locationtext">
            {{Place}}, {{State}}
          </h3>

          <div class="clear"></div>

          <p class="metadata-text">
            <strong>Latitude:</strong>
            <span id="lat-text">{{Latitude}}</span>
          </p>

          <p class="metadata-text">
            <strong>Longitude:</strong>
            <span id="lng-text">{{Longitude}}</span>
          </p>

          <p class="metadata-text">
            <strong>Population:</strong>
            <span id="populationtext">{{TotalPopulation}}</span>
          </p>


          <div class="clear" style="padding:10px;"></div>

          <h4>
            Interesting Facts
          </h4>

          <p class="metadata-text">
            <strong>Primary Industry:</strong>
            <span id="meta-industry">Mining</span>
          </p>

          <p class="metadata-text">
            <strong>Male vs Female ratio:</strong>
            <span id="meta-ratio">{{MalePopulation}} : {{FemalePopulation}}</span>
          </p>

          <p class="metadata-text">
            <strong>Median age:</strong>
            <span id="meta-age">{{MedianAge}}</span>
          </p>

          <div class="clear" style="padding:10px;"></div>

          <h4>
            Story Source
          </h4>

          <p class="metadata-text">
            {{Primary_image_rights_information}}
            {{! 
            <strong>Copyright:</strong>
            <span id="meta-copyright"></span>
            <br>
            <strong>Station:</strong>
            <span id="meta-station">placeholder text</span>
            <br>
            <strong>Reporter:</strong>
            <span id="meta-reporter">placeholder text</span>
             }}
          </p>



        </div>



      </div>
    </div>
  </section>




  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Made by team Potato Heads for GovHack 2015</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li><a href="#">Privacy Policy</a>
            </li>
            <li><a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>



  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-64766698-1', 'auto');
    ga('send', 'pageview');
  </script>


</body>

</html>