#download_button {
  border-radius: 3px;
  background-color: #fed136;
}

#download_button:hover {
  color: white;
  /*background-color: #fec503;*/
}

#carousel {
  background: url("/img/old_screenshot.png");
  background-size: 74%;
  background-repeat: no-repeat;
  background-position: 50% 23%;
}

#govhack_logo_circle {
  padding: 15px 5px;
  width: 100px;
  height: 100px;
  background: #fed136;
  border-radius: 100%;
}

#abc_logo_circle {
  padding: 10px 0px;
  width: 100px;
  height: 100px;
  background: #fed136;
  border-radius: 100%;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.iframe-container .responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#chromeDownload, #firefoxDownload, .btn.btn-primary.big-button {
  margin-bottom: 5px;
  font-size: 28px;
}