h1 {
  font-family: Abel, san-serif;
  text-align: left;
  font-size: 27px;
}

p {
  font-family: Roboto, san-serif;
  font-weight: 400;
  text-align: left;
  font-size: 12px;
}

.box {
  width: 72px;
  height: 25px;
  border: 1px solid #9CA9AE;
  border-radius: 5px;
  float: left;
}

.label {
  color: #9CA9AE;
  text-align: center;
  font-weight: 300;
}

.label-text {
  margin-left: 22px;
  float: left;
  color: #9CA9AE;
  text-align: left;
  font-weight: 300;
  font-size: 12;
}

.label-text-link {
  float: left;
  color: #9CA9AE;
  text-align: left;
  font-weight: 300;
  font-size: 12;
}

.clear {
  clear: both;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: Abel, sans-serif;
  text-align: left;
  font-size: 20px;
}


.hashtagbox {
  position: relative;
  float: left;
  border: solid 3px white;
  // margin-right: 6px;
  // margin-bottom: 6px;
  // width: 200px;
  // height: 113px;

// https://getbootstrap.com/docs/4.1/layout/overview/
  width: 100%;
  @media (min-width: 576px) {
    width: 100%;
  }
  @media (max-width: 767.98px) {
    // When xs, hide 4th element onwards. So we display the h2 & 2 hashtagboxes
    &:nth-child(n+4) {
      display: none;
    }
  }
  @media (min-width: 768px) {
    width: 50%;
  }
  @media (min-width: 992px) {
    width: 33%;
  }
  @media (min-width: 1200px) {
    width: 25%
  }
  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    vertical-align: middle;
  }
  .previewpic {
    /* 
    width: 200px;
    height: 100px;
   */
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    vertical-align: middle;
    overflow: hidden;
  }

  .hashtag-text {
    &:before {
      content: "#"
    }
    text-transform: uppercase;
    width: 200px;
    bottom: 0\px;
    left: 20px;
    position: absolute;
    text-anchor: start;
    text-align: left;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: white;
    /* 	text-transform: lowercase; */
  }
  
}

#sideInfo {
  padding:20px;
  background: rgba(216,216,216,.25);

  @media (max-width: 767.98px) {
    width: 100%;
  }
  @media (min-width: 768px) {
    max-width: 240px;
  }
}
#map-canvas {
  height: 200px;
  margin: 0px;
  padding: 0px;
  border: solid 1px grey;
  svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

h3 {
  font-family: Roboto, san-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

h4 {
  font-family: Roboto, san-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.sideicon {
  height: 20px;
  float: left;
}

.sidetext {
  margin-left: 12px;
  float: left;
  /* 	color: #; */
  text-align: left;
  font-weight: 400;
  font-size: 14;
}

.metadata-text {
  margin-bottom: 0px;
}